/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Moonrocks&display=swap');

*{
    margin: 0;
    padding: 0;
}


/* Hero Section Start */


main{
    width: 90%;
    margin: auto;
}
.hero{
    display: flex;
    background-image: linear-gradient(110deg, #3e067c, #ff005e);
    padding: 20px;
    height: 80vh;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 30px;
}
.left-text{
    color: white;
    width: 50%;
}
.left-text h2{
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
.left-text p{
    font-family: sans-serif;
    padding: 25px 0px;
}
.left-text button{
    padding: 10px 20px;
    background: #ff005e;
    border: 2px solid white;
    border-radius: 2px;
}
.left-text button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
   transition: 0.3s ease-in-out;
}
.left-text button a i{
    padding-left: 15px;
}
.left-text button:hover a{
   padding-left: 10px;
}
.right-image{
    width: 50%;
}
.right-image img{
    animation: hero-image 2s infinite alternate;
    height: 80vh;
}

@keyframes hero-image {
    0%{
        transform: scale(1) skew(0deg, 0deg);
    }
    100%{
    transform: scale(1.1) skew(6deg, 4deg);
    }
}
/* Hero Section End */

/* Content Section Start */
.content{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}
.content-menu{
    width: 20%;
    text-align: center;
}
.content-menu ul{
    list-style: none;
    background: #f2005f;
    height: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.content-menu ul li{
    padding: 10px 12px;
    background: #590578;
    margin: 10px;
    border-radius: 5px;
}
.content-menu ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
}

.fixtures{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.singel-match{
    text-align: center;
    border: 3px solid #77777740;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
}
.singel-match .flags{
    display: flex;
    justify-content: center;
    align-items: center;
}
.singel-match .flags img{
    width: 100px;
    height: 70px;
    padding: 5px 15px;
}
.singel-match .flags h3{
    font-family: 'Rubik Moonrocks', cursive;
}
.singel-match p{
    font-size: 20px;
    padding-top: 10px;
}
.singel-match p a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.singel-match .time{
    font-size: 15px;
    padding: 10px 0px;
}
.view-all{
    display: none;
}
/* Singel Blogs */
.blog{}
.singel-blog{
    margin: 10px;
    border: 1px solid #f2005f;
    padding: 5px;
    border-radius: 5px;
}
.singel-blog img{
    width: 100%;
}
.singel-blog button{
    outline: none;
    font-size: 18px;
    padding: 5px 17px;
    background: no-repeat;
    border: 2px solid #f2005f;
    border-radius: 5px;
    margin: 10px 0px;
}
.singel-blog h4{
    font-size: 20px;
    padding: 9px 0px;
}
.singel-blog p{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: #f2005f;
}
.singel-blog p span{}
.singel-blog p span i{}
/* Singel Blogs */
/* Content Section End */

footer{
    text-align: center;
    width: 90%;
    margin: auto;
    background: #f9015f;
    padding: 74px 0px 30px;
}
footer h2{
    color: white;
    font-family: arial black;
    font-size: 50px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}
footer ul li{ }
footer ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #f1f1f1;
    font-family: ui-sans-serif;
}

/* Tab view */

@media only screen and (max-width: 768px) {
    .left-text h2{
     font-size: 35px;
    }
    .right-image img{
     height: 70vh;
    }
    .content{
     display: block ;
    }
    .content-menu{
     width: 100% ;
    }
    .content-menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    }
    .content-menu ul li{
        width: 150px;
    }
    .fixtures{
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .view-all{
        display: block;
        text-align: center;
        margin-top: 50px;
    }
    .view-all button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background: #6c0575;
    }
    .view-all button a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    }
 }

 
 /* Mobile view */

 @media only screen and (max-width: 576px) {
    .hero{
        display: block;
        text-align: center;
    }
    .left-text{
        width: 100%;
    }
    .left-text p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .right-image{
        width: 100%;
    }
    .right-image img{
        height:50vh;
    }
    .content-menu ul{
        display: block;
        height: 150px;
    }
    .content-menu ul li{
        width: 90%;
    }
    .fixtures{
        grid-template-columns: repeat(1, 1fr);
    }
    .view-all{
        display: none;
    }
    footer ul{
        display: block;
    }
    footer ul li{
        margin-top: 10px;
    }
  }




